.ul__nav {
    top: 0;
    right: 10%;
    padding: 30px;
}

.ul__nav ul {
    display: flex;
    gap: 50px;
}

.ul__nav a {
    text-decoration: none;
}

.ul__nav .active {
    border-bottom: 2px solid #ffffff;
}

.zomato-logo {
    position: absolute;
    top: 0;
    left: 10%;
    padding: 30px;
}

.zomato-logo img {
    width: 100px;
}

.ul__nav ul li {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 300;
    cursor: pointer;
}

.image-with-text {
    position: relative;
    width: 100%;
    height: 750px;
}

.image-with-text::before {
    content: "";
    background: url("https://b.zmtcdn.com/web/about/48fc8d7806d6a947fd041a8a1cf83bac1563875757.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(45%);
}

.text-with-img p {
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 53%;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    font-weight: 300;
    cursor: pointer;
}

.text-with-img h2 {
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 45%;
    font-size: 3.4rem;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    font-weight: 300;
}

.ul__nav {
    position: absolute;
}

.nav ul li .active {
    border-bottom: 2px solid #ffffff;
    position: relative;
}


.whoweare-img img {
    height: 350px;
    border-radius: 20px;
}

.whoarewe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
}

.red-line {
    border-bottom: 4px solid rgb(238, 85, 106);
    width: 10rem;
}

.whoarewe p {
    color: rgb(54, 54, 54);
    line-height: 1.5;
    word-spacing: 3px;
}

.whoarewe h1 {
    color: rgb(28, 28, 28);
    font-size: 3rem;
    font-weight: 500;
}

.blog-images img {
    border-radius: 5px;
    height: 200px;
}

.container_blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: flex-start;
    grid-gap: 40px;
}
.first_three_blog{
    width: 10%;
}

.container_blog img{
    width: 350px;
    height: 200px !important;
}

.blog__wwa a {
    text-decoration: none;
    color: #1c1c1c;
}

.blog-wwa {
    cursor: pointer;
}

.blog__wwa span {
    font-size: 13px;
    line-height: normal;
    color: #b5b5b5;
    padding-top: 22px;
    margin-bottom: 6px;
}

.blog__wwa h4 {
    transition: color .1s ease;
    cursor: pointer;
    font-size: 25px;
    line-height: 35px;
    color: #000;
    text-decoration: none;
    letter-spacing: -.5px;
}

.blog__wwa p {
    margin-top: 2%;
    line-height: 1.4285em;
    font-size: 16px;
    line-height: 26px;
    color: #828282;
}

.from-our-blog {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: 0 auto;
    margin-top: 100px;
}

.from-our-blog h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.form-blog {
    display: flex;
    flex-direction: column;

}

.blog__wwa {
    display: flex;
    flex-direction: column;
}

.sliders {
    width: 87%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}

.sliders img {
    border-radius: 15px;
    filter: brightness(35%);
}

.sliders span {
    color: rgb(239, 79, 95);
}

.sliders h3 {
    font-weight: 500;
    font-size: 2.4rem;
    background-color: rgb(238, 85, 106);
    border-radius: 50px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.sliders p {
    font-style: italic;
    font-size: 1.2rem;
}



.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.img-collage {
    width: 87%;
    margin: 0 auto;
    margin-top: 100px;
}