@media screen and (max-width: 1100px) {
  .collect-header {
    margin: 0 20px;
  }
  .collection-blog {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collection-blog a {
    height: 18rem;
    max-width: 18%;
  }

  .order-sec {
    flex-wrap: wrap;
  }

  .order a {
    width: max-content;
    height: 100%;
    object-fit: contain;
  }
  .search-restaurant {
    width: 100%;
  }
  .footer-about-div {
    flex-wrap: wrap;
  }
  .zomato-app-text {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .location-buttons {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .homepage h1 {
    font-size: 1.5rem;
  }

  .collect-header div {
    flex-wrap: wrap;
  }

  .navigation {
    padding: 1rem 10px;
  }
  .input-submit {
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* delivery */

@media screen and (max-width: 1200px) {
  .food-choice {
    flex-wrap: wrap;
  }

  .search-restaurant-delivery {
    width: 10rem;
  }

  .search-city-delivery {
    width: 10rem;
  }
  .delivery-option {
    flex-wrap: wrap;
  }

  .delivery-filter {
    position: static;
  }
  .delivery-search {
    flex-wrap: wrap;
  }
}
